<!--
<script defer src="/js/jquery/dist/jquery.min.js"></script>
<script defer src="/vendor/bootstrap.bundle.min.js"></script>
<script defer src="/lib/easing/easing.min.js"></script>
<script defer src="/lib/waypoints/waypoints.min.js"></script>
<script defer src="/lib/lightbox/js/lightbox.min.js"></script>
<script defer src="/lib/owlcarousel/owl.carousel.min.js"></script>
-->
<script defer src="/js/alpine.min.js"></script>

    <!-- Template Javascript -->
<!-- <script defer src="/vendor/main.js"></script> -->

