{{ define "main" }}
<div class="container-fluid py-5 mb-5 mt-5">
  <div class="container py-5">
    <div class="row">
      <div class="col">
        <h1>Contact Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam
          distinctio vel possimus in ab consequuntur, dignissimos neque esse
          eaque, voluptatum perspiciatis at quas minima soluta nulla quo
          accusantium modi facere? Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Laudantium nobis hic officia eveniet, cumque
          voluptatibus architecto delectus adipisci ratione quaerat enim quam
          vel impedit perferendis veniam reiciendis dignissimos labore ab. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Recusandae veniam
          suscipit vero aspernatur tempore eum dicta vitae possimus molestiae
          saepe, nam quod voluptates est nesciunt voluptate atque animi expedita
          corporis!
        </p>
      </div>
    </div>
  </div>
</div>
{{ end }}
